@import url(../../index.css);

.header {
    width: 100%;
    height: 60px;
    background-color: #4d59ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .logo {
       display: flex;
       flex-direction: row;
       gap: 1rem;
       padding-left: 1rem;
       align-self: center;


        .logokelas, .namakelas
        {
            height: 2rem;
            width: auto;
        }
    }

    .menu{
        display: none;   
     }

    .drawer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .icon
        {
            height: 2rem;
            width: auto;
            padding-right: 1rem;
        }
    }

    @media screen and (min-width: 1440px){
        .menu{
            display: block;
            padding-right: 2rem;

            .list{
                display: flex;
                list-style-type: none;
                gap: 3rem;
                font-weight: 900;
                font-family: 'Outfit';
                font-size: 20px;
                color: #f0f5ff;
                cursor: pointer;
                font-family: raleway-semibold;
            }
        }

        .drawer{
            display: none;
        }
    }
}